{% extends 'taysistunto/email/email.html' %}

{% block heading %}
<h1 style="margin-bottom: 0; text-align: center">
  <a style="text-decoration: none; color: #cc2314"
     href="http://puheenvuorot.kansanmuisti.fi{{ action.doc.url }}"
     >{{ action.doc.orig_title }}</a>
</h1>
<h3 style="color: #666; text-align: center; font-size: 80%; font-weight: normal; margin-top: 0;">
  {{ action.subject.subject }} ({{ action.doc.local_date }})
</h3>
{% endblock %}

{% block body %}


  <p>
    {% if action.subject.action_count > 1 %}
      <a
        style="text-decoration: none; color: #cc2314"
        href="http://puheenvuorot.kansanmuisti.fi{{ action.url }}"
      >&laquo; näytä koko keskustelu</a>
    {% else %}
      (ainoa puheenvuoro)
    {% endif %}
  </p>

  <h4 style="font-style: italic; font-weight: normal; border-bottom: 1px dashed #ddd;">
    <a
      style="text-decoration: none; color: #cc2314"
      href="http://puheenvuorot.kansanmuisti.fi{{ action.speaker.url }}"
    >{{ action.speaker_then }}:</a>
  </h4>

  {{ action.text|linebreaks }}

{% endblock %}
