{% extends "taysistunto/include/istunnon-sisalto.html" %}

{% block document_left %}
  {% include 'taysistunto/include/sanapilvi.html' %}
  <h4>Aiheet:</h4>
  <ul class="subjects">
  {% for subj in doc.subjects.all %}
  <li>
    <a href="{{ subj.url }}">{{ subj.subject }}<span>
      • {{ subj.action_count }}
      puheenvuoro{% if subj.action_count > 1 %}a{% endif %}
    </span></a>
  </li>
  {% endfor %}
  </ul>
{% endblock %}

{% block document_right %}
  {% include 'taysistunto/include/puhujat-detail.html' %}
{% endblock %}

{% block document_bottom %}
{% endblock %}
