<div class="top-speakers-container">
<h4>Toteuttajat:</h4>
<ul class="top-speakers">
{% for speaker in doc.details.top6_speakers %}

  <li class="weight-{{ speaker.Weight }}">
    <a href="/puhujat/{{ speaker.id|slugify }}-{{ speaker.speaker|slugify }}-" title="{{ speaker.speaker }}">
      {{ speaker.speaker }} 
    </a>
  </li>
  {########################}
  
{% endfor %}

{% if doc.details.more6_speakers_count > 1 %}
  <li class="more">+{{ doc.details.more6_speakers_count }} muuta</li>
{% endif %}
{% if doc.details.more6_speakers_count == 1 %}
  <li class="more">+1 muu</li>
{% endif %}
</ul>
</div>
