{% extends "taysistunto/layout.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div class="summary">


  {% for doc in docs %}
    {% if doc.stats.action_count %}{# väliaikainen: ohitetaan ei-vielä-kokonaan-käsitellyt dokumentit #}
    <article>
      {% include 'taysistunto/include/istunnon-sisalto-etusivulla.html' %}
    </article>
    {% endif %}
  {% endfor %}  
</div>
{% endblock %}

{% block footer %}
  {% include 'taysistunto/include/sivutus-vanhemmat-uudemmat.html' %}
{% endblock %}

