{% extends "taysistunto/layout.html" %}

{% block title %}
  Kaikki toteuttajat
{% endblock %}

{% block content %}
<article class="archive archive-speakers">
  <div class="right">
  <h2>Toteuttajat</h2>
  
    <table class="docs">
      <tr>
        <th>toteuttaja</th>
<!--        <th>ryhmä</th> -->
      </tr>
    {% for speaker in other_speakers %}
      <tr>
        <td><a href="{{ speaker.url }}">{{ speaker.first_name }}</a></td>
        <!--<td>{{ speaker.group }}</td>-->
      </tr>
    {% endfor %}
    </table>
  </div>
  <br style="clear: both"/>
</article>
{% endblock %}
