{# abstrakti! #}
{% extends "taysistunto/layout.html" %}


{% block content %}
<article class="subject">
  {% block subject_header %}{% endblock %}
  {% block subject_details %}{% endblock %}
  {% for a in actions %}
    <a id="a{{ a.id }}"></a>
    <div class="speaker">

    </div>
    <div class="text">
      <h4 class="speaker"><a href="{{ a.speaker_then.url }}">{{ a.speaker_then }}</a>:</h4>
      {% block action_header %}{% endblock %}
      {{ a.text|linebreaks }}
      <div class="share">
           
      </div>
    </div>
    <br style="clear: both"/>
  {% endfor %}

</article>
{% endblock %}
