{% extends "taysistunto/layout.html" %}

{% load jsonify %}

{% block head %}



{% endblock %}

{% block title %}{{ speaker }} - Projektit {% endblock %}
{% block content %}
<article class="speaker">
  <h2>{{ speaker }}</h2>

<div style="margin:10px;padding:10px;">
  <h4>Projektit vuosittain:</h4>
  {% with occ=speaker.words_by_month %}
    {% include 'taysistunto/include/kuukausipalkit.html' %}
  {% endwith %}
  
</div>

  <div id="actions-by-year">
    {% include 'taysistunto/include/puheenvuoron-alku.html' %}
  </div>

  <div>
    <h4>Avainsanat: 
      (<span id="words-year">          
          {% if request.GET.vuosi %}
          {{ request.GET.vuosi }}
	  {% else %}
	  2006-2014
	  {% endif %} 
      </span>)
    </h4>

    <div>
      <div id="backBuffer" class="wordcloud"></div>
      <div id="words">


	<ul class="top-words">
	  {% if request.GET.vuosi %}
<script type="text/javascript" src="/static/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="/static/jquery.animcloud.js"></script>
<script>
$(function() {
  var top_words = {{ speaker.details.top_words_by_year|jsonify|safe }};

  $('#trend a').click(function(e) {
    e.preventDefault();
    var y = $(this).attr('data-year');
    $('#words').animcloud(top_words[y]);
    $('#words-year').text(y);
    $('#actions-by-year').load('/puheenvuorot?' + jQuery.param({
      puhuja: '{{ speaker.id }}',
      vuosi: y,
      contentonly: 1
    }));
  });

});
</script>


	  {% else %}

          {% for word in speaker.details.top_words %}
	  <li class="weight-{{word.1}}">
	    <a href="/sanat/{{ word.0|urlencode }}">{{ word.0 }}</a>
	  </li>
          {% endfor %}

	  {% endif %}
	</ul>
    </div>
  </div>
<div style="bottom:0px;clear:both;padding:10px;margin:10px;height:10px;"><p></p></div>
  
</article>
{% endblock %}
