{% extends "taysistunto/layout.html" %}

{% block title %}Sana: {{ word.word }} - Hankeaika{% endblock %}

{% block head %}

<script>
  
</script>
{% endblock %}

{% block content %}
<article class="word">
  
{% if admin %}
  admin:
  <a href="/stopify/{{ word.word }}">lisää '{{ word.word }}' stop-sanoihin</a>
{% endif %}
  
<h2>Sana: {{ word.word }}</h2>
<h4>Esiintyminen 
  {% if speaker %}
    puhujan <b>{{ speaker }}</b>
  {% endif %}
  projekteissa:</h4>
  {% with occ=occurrence_by_month %}
    {% include 'taysistunto/include/kuukausipalkit.html' %}
  {% endwith %}
  
  {% if actions %}
  <div>
    <h4>
      Projektit, joissa sana esiintyy:
    </h4>
    {% include 'taysistunto/include/puheenvuoron-alku.html' %}
  </div>
  {% else %}
  <div>Ei projekteja.</div>
  {% endif %}
  
</article>

{% endblock %}
